h1{
    margin-left: 150px;
}
h3{
    margin-top: 0;
}
.generator-wrap{
    display: flex;
    align-items: center;
    justify-content: space-around
}
.generated-el-wrap #generated-el{
    width: 600px;
    height: 200px;
    background: #9ee8fa;
    transition: .5s ease;
}
.size-wrap input{
    width: 50px;
    border: none;
    border-bottom: 1px solid #000;
}
.size-wrap p{
    display: inline-block;
}
.generated-code-wrap{
    padding: 10px 30px;
    background: aliceblue;
    width: 300px;
}
.generated-code-wrap div, .generated-code-wrap p{
    display: inline-block;
    margin: 0 2px;
}